body.vanilla-modal .modal-hider {
  position: absolute;
  left: -99999em;
}

body.vanilla-modal{
  &.modal-visible{
    .modal{
      opacity: 1;
      z-index: 10;      
      transition: opacity 0.8s, z-index 0s 0s; 
    }
  }
  .modal{
    opacity: 0;
    z-index: -1;
    background-color: rgba(0,0,0,0.8);
    transition: opacity 0.8s, z-index 0s 0.8s;        
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    // height: 100%;
    min-height: 100vh;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
  }  
  .modal-inner{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,0);
  }
  .modal-content{    
    width: 100%;
    height: 100%;
  }
  // .btn-modal-close{}  
}
 
.popup{
  padding: 0;
  position: relative;
  width: 300px; 
  height: 207px; 
  @include breakpoint(sm){
    width: 500px; 
    height: 347px;   
  }
  @include breakpoint(md){
    width: 600px; 
    height: 415px;   
  }  
  @include breakpoint(lg-down){ 
    background-image: url('/src/static/img/popup-sm.png');
  }
  @include breakpoint(xl){
    background-image: url('/src/static/img/popup-xl.png');
  }
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  .modal-text-container{
    position: absolute;
    top: 19%;
    left: 14%;
    width: 64%;
    height: 36%;
    #m-t1,#m-t3{
      color: #35BE6B;
      font-family: $global-font-family;
      @include breakpoint(xs-only){
        font-size: 6px;
      }
      @include breakpoint(sm){
        font-size: 10px;
      }
      @include breakpoint(md){
        font-size: 12px;
      }
      line-height: 1.3;
    }
    #m-t2,#m-t4{
      position: absolute;
      top: 92%;
      right: 10%;
      color: #35BE6B;
      font-family: $global-font-family;
      @include breakpoint(xs-only){
        font-size: 10px;
      }
      @include breakpoint(sm){
        font-size: 16px;
      }
      @include breakpoint(md){
        font-size: 20px;
      }
      line-height: 1.3;
    }
  }
}
.popup-form{
  position: absolute;
  margin: 0 auto;
  width: 80%;
  height: auto;
  left: 50%;  
  bottom: 10%;
  transform: translate(-50%,0);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  .btn-q-down,.btn-q-up{
    flex: 0 0 auto;
    @include outline(0);
    cursor: pointer;
    border: none;
    padding: 0;    
    width: 40px;
    height: 40px;
    margin-right: 5px;
    @include breakpoint(sm){
      width: 60px;
      height: 60px;
      margin-right: 10px;   
    }
    @include breakpoint(md){
      margin-right: 15px;
      width: 80px;
      height: 80px;     
    }
    background-color: transparent;   
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain, 0% 0%, 0% 0%;
    will-change: background-image, background-size;
    &:disabled{
      filter: grayscale(1);
      pointer-events: none;
    }
    &:hover{
      background-size: 0% 0%, contain, 0% 0%;
    }
    &:active,&.active{
      background-size: 0% 0%, 0% 0%, contain;
    }    
  }
  .btn-q-down{    
    @include breakpoint(lg-down){ 
      background-image: url('/src/static/img/btn_rest_default-sm.png'), url('/src/static/img/btn_rest_hover-sm.png'), url('/src/static/img/btn_rest_pressed-sm.png');
    }
    @include breakpoint(xl){
      background-image: url('/src/static/img/btn_rest_default-xl.png'), url('/src/static/img/btn_rest_hover-xl.png'), url('/src/static/img/btn_rest_pressed-xl.png');
    }  
  }
  .btn-q-up{    
    @include breakpoint(lg-down){ 
      background-image: url('/src/static/img/btn_plus_default-sm.png'), url('/src/static/img/btn_plus_hover-sm.png'), url('/src/static/img/btn_plus_pressed-sm.png');
    }
    @include breakpoint(xl){
      background-image: url('/src/static/img/btn_plus_default-xl.png'), url('/src/static/img/btn_plus_hover-xl.png'), url('/src/static/img/btn_plus_pressed-xl.png');
    } 
  }
  .input-box{
    flex: 0 0 auto;
    margin-right: 5px;
    width: 40px;
    @include breakpoint(sm){
      width: 60px; 
      margin-right: 10px;
    }
    @include breakpoint(md){
      width: 80px; 
      margin-right: 15px;    
    }
    .input{
      padding: 2px 2px;
      text-align: center;
      font-family: $global-font-family;
      font-size: 16px;
      width: 100%;
      height: 40px;      
      @include breakpoint(lg-down){ 
        background: url('/src/static/img/blank_square-sm.png') no-repeat 50% 50%/100% 100%;
      }
      @include breakpoint(xl){
        background: url('/src/static/img/blank_square-xl.png') no-repeat 50% 50%/100% 100%;
      }
      @include breakpoint(sm){
        padding: 4px 5px;
        height: 60px; 
        font-size: 18px; 
      }
      @include breakpoint(md){
        padding: 4px 10px;
        height: 80px;     
        font-size: 25px;
      }
      @include outline(0);
      border: none;
      // border: 2px solid #000;
      // border-radius: 10px;
      // @include breakpoint(md){
      //   border-radius: 15px;    
      // }
    }
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    input[type='number'],
    input[type="number"]:hover,
    input[type="number"]:focus {
        appearance: none;
        -moz-appearance: textfield;
    }
  }
  // .submit-wrapper{
    
  // }
  .btn-submit{  
    flex: 1 1 auto;  
    display: flex;
    justify-content: center;
    align-items: center;
    @include outline(0);
    cursor: pointer;
    border: none;
    padding: 0;
    height: 40px;
    font-size: 12px;
    @include breakpoint(sm){      
      height: 60px; 
      font-size: 16px;
    }
    @include breakpoint(md){
      height: 80px;     
    }
    font-family: $global-font-family;    
    color: #fff;
    background-color: transparent;   
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%, 0% 0%, 0% 0%;    
    @include breakpoint(lg-down){ 
      background-image: url('/src/static/img/gree_button_default-sm.png'), url('/src/static/img/green_button_hover-sm.png'), url('/src/static/img/green_button_pressed-sm.png');
    }
    @include breakpoint(xl){
      background-image: url('/src/static/img/gree_button_default-xl.png'), url('/src/static/img/green_button_hover-xl.png'), url('/src/static/img/green_button_pressed-xl.png');
    }
    will-change: background-image, background-size;
    &:hover{
      background-size: 0% 0%, 100% 100%, 0% 0%;
    }
    &:active,&.active{
      background-size: 0% 0%, 0% 0%, 100% 100%;
    }
  }  
}
.btn-popup-close{
  @include outline(0);
  cursor: pointer;
  border: none;
  padding: 0;
  position: absolute; 
  z-index: 5;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 14px;  
  @include breakpoint(sm){   
    width: 60px;
    height: 60px; 
    top: 20px;
    right: 25px;
  }
  @include breakpoint(md){
    width: 80px;
    height: 80px;
    top: 18px;
    right: 28px;
  }

  background-color: transparent;    
  @include breakpoint(lg-down){ 
    background-image: url('/src/static/img/btn_close_default-sm.png'), url('/src/static/img/btn_close_hover-sm.png'), url('/src/static/img/btn_close_pressed-sm.png');
  }
  @include breakpoint(xl){
    background-image: url('/src/static/img/btn_close_default-xl.png'), url('/src/static/img/btn_close_hover-xl.png'), url('/src/static/img/btn_close_pressed-xl.png');
  }
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain, 0% 0%, 0% 0%;
  will-change: background-image, background-size;
  &:hover{
    background-size: 0% 0%, contain, 0% 0%;
  }
  &:active,&.active{
    background-size: 0% 0%, 0% 0%, contain;
  }
}
