body.vanilla-modal .modal-hider {
  position: absolute;
  left: -99999em;
}

body.vanilla-modal{
  &.modal-visible{
    .modal{
      opacity: 1;
      z-index: 10;      
      transition: opacity 0.8s, z-index 0s 0s; 
    }
  }
  .modal{
    opacity: 0;
    z-index: -1;
    background-color: rgba(0,0,0,0.8);
    transition: opacity 0.8s, z-index 0s 0.8s;        
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    // height: 100%;
    min-height: 100vh;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
  }  
  .modal-inner{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,0);
  }
  .modal-content{    
    width: 100%;
    height: 100%;
  }
  // .btn-modal-close{}  
}
 
.popup-1{
  padding: 0;
  position: relative;
  width: 300px; 
  height: 207px; 
  @include breakpoint(sm){
    width: 500px; 
    height: 208px;   
  }
  @include breakpoint(md){
    width: 600px; 
    height: 415px;   
  }
  background-image: url('/src/static/img/popup.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}
.popup-1-form{
  position: absolute;
  margin: 0 auto;
  width: 80%;
  height: auto;
  left: 50%;  
  bottom: 10%;
  transform: translate(-50%,0);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  .btn-q-down,.btn-q-up{
    flex: 0 0 auto;
    @include outline(0);
    cursor: pointer;
    border: none;
    padding: 0;    
    width: 40px;
    height: 40px;
    margin-right: 5px;
    @include breakpoint(md){
      margin-right: 10px;
      width: 80px;
      height: 80px;     
    }
    background-color: transparent;   
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain, 0% 0%, 0% 0%;
    will-change: background-image, background-size;
    &:disabled{
      opacity: 0.4;
      pointer-events: none;
    }
    &:hover{
      background-size: 0% 0%, contain, 0% 0%;
    }
    &:active,&.active{
      background-size: 0% 0%, 0% 0%, contain;
    }    
  }
  .btn-q-down{
    background-image: url('/src/static/img/btn_rest_default .png'), url('/src/static/img/btn_rest_hover.png'), url('/src/static/img/btn_rest_pressed.png');
  }
  .btn-q-up{
    background-image: url('/src/static/img/btn_plus_default.png'), url('/src/static/img/btn_plus_hover.png'), url('/src/static/img/btn_plus_pressed.png');
  }
  .input-box{
    flex: 0 0 auto;
    margin-right: 5px;
    width: 40px;
    @include breakpoint(md){
      width: 80px; 
      margin-right: 10px;    
    }
    .input{
      padding: 2px 2px;
      text-align: center;
      font-family: $global-font-family;
      font-size: 16px;
      width: 100%;
      height: 40px;
      @include breakpoint(md){
        padding: 4px 10px;
        height: 80px;     
        font-size: 25px;
      }
      @include outline(0);
      border: 2px solid #000;
      border-radius: 10px;
      @include breakpoint(md){
        border-radius: 15px;    
      }
    }
  }
  .btn-submit{
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    @include outline(0);
    cursor: pointer;
    border: none;
    padding: 0;
    height: 40px;
    @include breakpoint(md){
      height: 80px;     
    }
    background-color: transparent;   
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain, 0% 0%, 0% 0%;
    background-image: url('/src/static/img/gree_button_default.png'), url('/src/static/img/green_button_hover.png'), url('/src/static/img/green_button_pressed.png');
    will-change: background-image, background-size;
    &:hover{
      background-size: 0% 0%, contain, 0% 0%;
    }
    &:active,&.active{
      background-size: 0% 0%, 0% 0%, contain;
    }
  }
}
.btn-popup-1-close{
  @include outline(0);
  cursor: pointer;
  border: none;
  padding: 0;
  position: absolute; 
  z-index: 5;
  width: 40px;
  height: 40px;
  top: 12px;
  right: 14px;
  @include breakpoint(sm){    
    top: 12px;
    right: 20px;
  }
  @include breakpoint(md){
    width: 80px;
    height: 80px;
    top: 24px;
    right: 28px;
  }

  background-color: transparent;
  // background: url('/src/static/img/mainButton_Default.png') no-repeat 50% 100% / 100% auto;
  background-image: url('/src/static/img/btn_close_default.png'), url('/src/static/img/btn_close_hover.png'), url('/src/static/img/btn_close_pressed.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain, 0% 0%, 0% 0%;
  will-change: background-image, background-size;
  &:hover{
    background-size: 0% 0%, contain, 0% 0%;
  }
  &:active,&.active{
    background-size: 0% 0%, 0% 0%, contain;
  }
}
