.ask-section{
  background-color: #000;  
  .ask-container-wrapper{
    padding: 80px 8% 40px;  
    @media screen and (min-width: 1440px){
      padding: 80px 115px; 
      margin: 0 auto 0;
      max-width: 1920px;
    }
  }
  .title{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    font-family: $global-font-family;
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 12px;
    @include breakpoint(sm){
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    @include breakpoint(xl){ 
      font-size: 20px;
    }
  }
  .soc-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 0 0;
    @include breakpoint(sm){     
      margin: 0 0 0 24px;
    }
  }
  .soc-link{
    width: 60px;    
    &:not(:last-child){
      margin-right: 8px;
    }
    @include breakpoint(xl){ 
      width: 80px;
    }
  }
  .img{
    width: 100%;
    height: auto;
  }
  .sub-title{
    color: #fff;
    font-family: $global-font-family;
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
    padding-top: 36px;
    @include breakpoint(xl){ 
      font-size: 20px;
    }
  }
  .ask-text{
    color: #fff;
    font-family: $global-font-family;
    line-height: 1.5;
    font-weight: 400;
    font-size: 14px;
    margin-top: 24px;
    margin-bottom: 12px;
    @include breakpoint(xl){ 
      font-size: 16px;
    }
  }
  .answer{
    color: #fff;
    font-family: $global-font-family;
    line-height: 1.5;
    font-weight: 400;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 8px;
    @include breakpoint(xl){ 
      font-size: 14px;
    }
    .accent{
      font-size: 16px;
    }
  }
}