.info-section{
  background-color: #000;
  .info-container-wrapper{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    z-index: 5;
    position: relative;
    margin-top: -20vw;
    padding: 0 8%;     
    @include breakpoint(xl){
      flex-direction: row;      
      flex-wrap: nowrap;           
    }
    @media screen and (min-width: 1440px){
      padding: 0 115px;      
      margin: -200px auto 0;
      max-width: 1920px;
    }
  }
  .anime-container{
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    @include breakpoint(lg-down){
      width: 100%;
      max-width: 500px;
    }
    @include breakpoint(xl){
      width: 50%;
      max-width: unset;
    }
    .dickbutts-picture{
      width: 100%;
    }
    .dickbutts-img{
      width: 100%;
      height: auto;
      max-width: 800px;
      min-width: 0;
    }
  }
  .text-container{
    flex: 1 1 auto;  
    padding: 15px 15px;
    @include breakpoint(sm){  
      padding: 30px 30px;
    }
    @include breakpoint(lg-down){
      width: 100%;
      max-width: 500px;
    }
    @include breakpoint(xl){
      padding: 80px 50px;
      width: 50%;
    }
    .title{
      color: #fff;
      font-family: $global-font-family;
      line-height: 1.5;
      font-weight: 400;
      font-size: 14px;
      @include breakpoint(sm){ 
        font-size: 18px;
      }
      @include breakpoint(xl){ 
        font-size: 22px;
      }
      text-align: left;
      word-break: break-word;
    }
    .text{
      color: #fff;
      font-family: $global-font-family;
      line-height: 1.5;
      font-weight: 400;
      font-size: 12px;
      @include breakpoint(sm){ 
        font-size: 14px;
      }
      text-align: left;
      word-break: break-word;
      @include breakpoint(xl){ 
        font-size: 16px;
      }
    }
  }
}