.top-section{
  .top-section-container{    
    display: flex;
    flex-direction: column;
  }
  .cdb-top{  
    flex: 0 0 auto;      
    position: relative;
    height: 65vh;
    @include breakpoint(sm){
      height: 44vw;
    }
    @media screen and (min-width: 1440px){      
      height: 633px;
    }    
    .img-box-bg{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;          
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;   
      background-image: url('/src/static/img/background_topsection_medium-sm.png');
      @include breakpoint(xl){
        background-image: url('/src/static/img/background_topsection_medium-xl.png');
      }
      @media screen and (min-width: 1440px){
        background-image: url('/src/static/img/background_topsection_medium-xl.png');
        background-size: 100% 100%;
      }      
    }  
    .cdb-bg-top{     
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 0%;
    }
    .int-board-1{
      @include breakpoint(xs-only){
        overflow: hidden;
      }
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%,0);
      width: 100%;
      height: 100%;
      
      display: flex;
      justify-content: center;
      
      max-width: $cdb-content;
      margin: 0 auto;
    }    
    .tg1{
      @include breakpoint(xs-only){
        position: absolute;
        top: 70%;
        left: 0;
        transform: translate(-50%, -50%);
        width: 50%;
      }
      @include breakpoint(sm){
        flex: 1 1 auto;
        width: 33%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
      }              
    }
    .tg1-1{
      @include breakpoint(xs-only){
        display: none;
      }
      @include breakpoint(sm){
        flex: 1 1 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 20%;
        display: flex;        
      }     
      .anime-wrapper{
        flex: 0 1 auto;
        width: 62%;
        .anime-asp-box{
          position: relative;
          width: 100%;
          padding-bottom: 26%;
        }
        .tg1-1-anime{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: 50% 50%;
        }
      } 
      .sign-wrapper{
        flex: 0 1 auto;
        width: 18%;              
        .sign-asp-box{
          position: relative;
          width: 100%;
          padding-bottom: 100%;
        }
        .sign-anime{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          will-change: background-image, background-size;
          background-size: contain, 0% 0%;
          background-image: url('/src/static/img/warningsign_off.png'),url('/src/static/img/warningsign_on.png');
          &.active{            
            background-size: 0% 0%, contain;            
          }
        }
      }
    }    
    .tg1-2{
      @include breakpoint(xs-only){
        display: none;
      }
      @include breakpoint(sm){
        flex: 1 1 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 18%;
        padding: 0 6%;
      }      
      .btn-wrapper{
        width: 20%;             
      }
      .btn-asp-box{
        position: relative;
        width: 80%;
        margin: 0 auto;
        padding-bottom: 122%;
      }
      .tg1-btn{
        @include outline(0);
        cursor: pointer;
        border: none;
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;        
        width: 100%;
        height: 100%;
        background-color: transparent;      
        background-repeat: no-repeat;
        background-position: 50% 100%;
        background-size: 100% auto, 0% 0%;
        will-change: background-image, background-size;        
        background-image: url('/src/static/img/switch_toggle_02.png'),url('/src/static/img/switch_toggle_01.png');
        &:active,&.active{          
          background-size: 0% 0%, 100% auto;
          transform: translateY(-18%);
        }            
      }
    } 
    .tg1-3{
      flex: 1 1 auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 62%;
      .anime-wrapper{
        width: 90%;        
      }
      .anime-asp-box{
        position: relative;
        width: 80%;
        margin: 0 auto;
        padding-bottom: 100%;
      }
      .tg1-3-anime{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: 50% 50%;
      }
    }   
    .tg2{      
      @include breakpoint(xs-only){
        padding-top: 80px;
      }
      flex: 1 1 auto;
      width: 33%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      position: relative;
      .anime-wrapper{
        @include breakpoint(xs-only){
          width: 60%;
        }
        @include breakpoint(sm){
          width: 93%;
        }        
        margin-bottom: 0.2vw;
        .anime-asp-box{
          position: relative;
          width: 100%;
          padding-bottom: 100%;
        }
        .tg2-anime{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: 50% 50%;
        }
      }     

      .counter-wrapper{
        width: 62%;
        .counter-asp-box{
          position: relative;
          width: 100%;
          padding-bottom: 26%;
        }
        .tg2-counter{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: 50% 50%;
        }
        .counter-symbols{
          font-family: $global-font-family;
          line-height: 1.3;
          font-weight: 700;
          color: #fff;
          position: absolute;
          top: 1%;
          right: 2%;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          font-size: 4.68vw;
          letter-spacing: 1.56vw;
          @include breakpoint(sm){
            font-size: 1.74vw;
            letter-spacing: 0.35vw;
          }
          @media screen and (min-width: 1440px){
            font-size: 25px;
            letter-spacing: 5px;
          }
        }
      }      
    }
    .tg3{
      display: flex;      
      @include breakpoint(xs-only){
        padding: 10px;
        justify-content: space-between;
        flex-direction: row-reverse;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }
      
      @include breakpoint(sm){  
        flex: 1 1 auto;
        width: 33%;      
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
      }
      // .rblock-item{}        
    }
    .tg3-1{
      display: flex;
      @include breakpoint(xs-only){        
        justify-content: center;
        align-items: center;
      }
      @include breakpoint(sm){
        flex: 1 1 auto;        
        padding: 0 3%;
        justify-content: flex-end;
        align-items: flex-end;
        height: 17%;
      }      
     
      .btn-wrapper{
        @include breakpoint(xs-only){
          width: 145px;
        }
        @include breakpoint(sm){
          width: 48%;
        }
        // @media screen and (min-width: 1440px){
        //   width: 40%;
        // }
      }
      .btn-asp-box{
        position: relative;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 38%;
        @include breakpoint(sm){
          padding-bottom: 38%;
        }
      }
      .tg3-1-btn{
        @include outline(0);
        cursor: pointer;
        border: none;
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;        
        background-color: transparent;        
        @include breakpoint(lg-down){ 
          background-image: url('/src/static/img/fox_button-sm.png'), url('/src/static/img/fox_button_hover-sm.png'), url('/src/static/img/fox_button_pressed-sm.png');
        }
        @include breakpoint(xl){       
          background-image: url('/src/static/img/fox_button-xl.png'), url('/src/static/img/fox_button_hover-xl.png'), url('/src/static/img/fox_button_pressed-xl.png');
        }
        background-repeat: no-repeat;
        background-position: 50% 100%;
        background-size: 100% auto, 0% 0%, 0% 0%;
        will-change: background-image, background-size;
        &:hover{
          background-size: 0% 0%, 100% auto, 0% 0%;
        }
        &:active,&.active{
          background-size: 0% 0%, 0% 0%, 100% auto;
        }
      }
      .tg3-1-text{
        font-family: $global-font-family;
        line-height: 1.3;
        font-weight: 700;
        color: #ffffff;
        position: absolute;
        top: 53%;
        right: 10%;
        transform: translate(0%,-50%);        
        font-size: 12px; 
        @include breakpoint(sm){
          font-size: 1.2vw;
          top: 52%;
        }
        @media screen and (min-width: 1440px){
          font-size: 17px; 
        } 
      }
    }
    .tg3-2{
      flex: 0 1 auto;
      @include breakpoint(xs-only){
        margin-right: 15px;
      }
      @include breakpoint(sm){
        flex: 1 1 auto;
        display: flex;
        padding: 0 3%;
        height: 65%;
        justify-content: center;
        display: flex;
        justify-content: center;
        align-items: stretch;
      }      
      .tg3-2-1{
        @include breakpoint(xs-only){
          position: absolute;
          right: 0;
          top: 33vh;
          width: 80px;
          transform: translate(50%, -50%);
        }
        @include breakpoint(sm){
          flex: 1 1 auto;
          width: 25%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
        }
        .sign-wrapper{
          @include breakpoint(xs-only){
            &:not(:last-child){
              margin-bottom: 10px;
            }
          }
          flex: 0 1 auto;
          width: 88%;          
          .sign-asp-box{
            position: relative;
            width: 100%;
            padding-bottom: 100%;
          }
          .sign-anime{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: contain, 0% 0%;
            will-change: background-image, background-size;
            &.sign-1{              
              @include breakpoint(lg-down){ 
                background-image: url('/src/static/img/redlight_off-sm.png'),url('/src/static/img/redlight_on-sm.png');
              }
              @include breakpoint(xl){       
                background-image: url('/src/static/img/redlight_off-xl.png'),url('/src/static/img/redlight_on-xl.png');
              }
              &.active{                
                background-size: 0% 0%, contain;          
              }
            }
            &.sign-2{              
              @include breakpoint(lg-down){ 
                background-image: url('/src/static/img/greenlight_off-sm.png'),url('/src/static/img/greenlight_on-sm.png');
              }
              @include breakpoint(xl){       
                background-image: url('/src/static/img/greenlight_off-xl.png'),url('/src/static/img/greenlight_on-xl.png');
              }
              &.active{                
                background-size: 0% 0%, contain;           
              }
            }
            &.sign-3{              
              @include breakpoint(lg-down){ 
                background-image: url('/src/static/img/yellowlight_off-sm.png'),url('/src/static/img/yellowlight_on-sm.png');
              }
              @include breakpoint(xl){       
                background-image: url('/src/static/img/yellowlight_off-xl.png'),url('/src/static/img/yellowlight_on-xl.png');
              }
              &.active{                 
                background-size: 0% 0%, contain;           
              }
            }            
          }
        }
      }
      .tg3-2-2{
        display: none;
        @include breakpoint(sm){
          flex: 1 1 auto;
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
        }
        .sign-wrapper{
          flex: 0 1 auto;
          width: 82%;          
        }
        .sign-asp-box{
          position: relative;
          width: 100%;
          padding-bottom: 25%;
        }
        .sign-text{
          display: inline-flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: contain;          
          &.sign-1{
            background-image: url('/src/static/img/banner_text.png');            
          }
          &.sign-2{
            background-image: url('/src/static/img/banner_text.png');     
            transform: rotate(7deg);       
          }
          &.sign-3{
            background-image: url('/src/static/img/banner_text.png');            
          }          
          font-size: 1.4vw;
          @media screen and (min-width: 1440px){
            font-size: 20px;
          }          
          font-weight: 700;
          color: #eee;
        }        
      } 
      .tg3-2-3{
        display: flex;        
        @include breakpoint(sm){
          flex: 1 1 auto;
          width: 25%;          
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        .btn-wrapper{
          width: 60px;
          @include breakpoint(sm){
            width: 88%;
          }          
          &:not(:last-child){
            @include breakpoint(xs-only){
              margin-right: 15px;
            }
            @include breakpoint(sm){
              margin-bottom: 12%;
            }
          }
        }
        .btn-asp-box{
          position: relative;
          width: 100%;
          margin: 0 auto;
          padding-bottom: 100%;
        }
        .tg3-2-3-btn{
          @include outline(0);
          cursor: pointer;
          border: none;
          padding: 0;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;        
          background-color: transparent;          
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: contain, 0% 0%, 0% 0%;
          will-change: background-image, background-size;
          &.btn-egg{            
            @include breakpoint(lg-down){ 
              background-image: url('/src/static/img/button_egg-sm.png'), url('/src/static/img/button_egg_hover-sm.png'), url('/src/static/img/button_egg_pressed-sm.png');
            }
            @include breakpoint(xl){       
              background-image: url('/src/static/img/button_egg-xl.png'), url('/src/static/img/button_egg_hover-xl.png'), url('/src/static/img/button_egg_pressed-xl.png');
            }
            &:hover{              
              background-size: 0% 0%, contain, 0% 0%;              
            }
            &:active,&.active{              
              background-size: 0% 0%, 0% 0%, contain; 
            }
          } 
          &.btn-skull{            
            @include breakpoint(lg-down){ 
              background-image: url('/src/static/img/star_button-sm.png'), url('/src/static/img/star_button_hover-sm.png'), url('/src/static/img/star_button_pressed-sm.png');  
            }
            @include breakpoint(xl){       
              background-image: url('/src/static/img/star_button-xl.png'), url('/src/static/img/star_button_hover-xl.png'), url('/src/static/img/star_button_pressed-xl.png');  
            }         
            &:hover{              
              background-size: 0% 0%, contain, 0% 0%;              
            }
            &:active,&.active{              
              background-size: 0% 0%, 0% 0%, contain; 
            }
          }          
        }
      }
    }
    .tg3-3{
      display: none;
      @include breakpoint(sm){
        flex: 1 1 auto;
        display: flex;
        padding: 0 3%;
        height: 18%;
        justify-content: flex-start;
        align-items: center;
      }
      .disc-wrapper{
        width: 93%;        
      }
      .disc-asp-box{
        position: relative;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 14%;
      }
      .tg1-3-disc{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: 50% 50%;
      }
    }
  }
  .cdb-medium{  
    flex: 0 0 auto;
    position: relative;
    height: 35vh;
    @include breakpoint(sm){
      height: 24vw;
    }
    @media screen and (min-width: 1440px){      
      height: 346px;
    }    
    .img-box-bg{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; 
      background-color: transparent;          
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;   
      background-image: url('/src/static/img/background_midsection_medium-sm.png'); 
      @include breakpoint(sm){
        background-image: url('/src/static/img/background_midsection_medium-xl.png'); 
      }
      @media screen and (min-width: 1440px){
        background-image: url('/src/static/img/background_midsection_large-xl.png'); 
        background-size: 100% 100%;
      }        
    }
    .cdb-bg-medium{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 0%;
    }
    .int-board-4{
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%,0);
      width: 100%;
      height: 85%;      
      display: flex;
      align-items: stretch;
      max-width: $cdb-content;
      margin: 0 auto;      
    } 
    .g1{
      display: none;
      @include breakpoint(sm){
        display: block;
        flex: 1 1 auto;
        position: relative;
        width: 32%; 
      }       
      .img-box{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 71%;         
      }
      .img-asp-box{
        position: absolute;
        top: 50%;
        right: -25%;
        transform: translate(0, -50%);
        width: 207%;
        margin: 0 auto;
        padding-bottom: 50%;        
      }
      .g1-img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;   
        object-fit: cover;
        object-position: 100% 50%;
      }
    } 
    .g2{
      flex: 1 1 auto;
      position: relative;      
      @include breakpoint(sm){
        width: 36%;
      }      
      display: flex;
      justify-content: center;
      align-items: center;
      .bg-g2-btn-wrapper{
        @include breakpoint(xs-only){
          max-width: 360px;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-55%);
        }
        position: absolute;
        width: 100%;
        .btn-asp-box{
          position: relative;
          width: 100%;
          margin: 0 auto;
          padding-bottom: 52%;
        }
      } 
      .bg-g2-btn{
        position: absolute;
        top: 0;
        left: 0;        
        width: 100%;
        height: 100%;        
        background-color: transparent;        
        
        @include breakpoint(lg-down){ 
          background-image: url('/src/static/img/button_base-sm.png');
        }
        @include breakpoint(xl){       
          background-image: url('/src/static/img/button_base-xl.png');
        }
        background-repeat: no-repeat;
        background-position: 50% 100%;
        background-size: 100% auto;
      }
      .btn-wrapper{
        @include breakpoint(xs-only){
          max-width: 200px;
        }
        width: 56%;
        .btn-asp-box{
          position: relative;
          width: 100%;
          margin: 0 auto;
          padding-bottom: 80%;
        }
      }      
      .g2-btn{
        @include outline(0);
        cursor: pointer;
        border: none;
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-4%,-15%);
        width: 100%;
        height: 100%;        
        background-color: transparent; 
        @include breakpoint(lg-down){ 
          background-image: url('/src/static/img/mainbutton_default-sm.png'),url('/src/static/img/mainbutton_hover-sm.png'),url('/src/static/img/mainbutton_pressed-sm.png');
        }
        @include breakpoint(xl){       
          background-image: url('/src/static/img/mainbutton_default-xl.png'),url('/src/static/img/mainbutton_hover-xl.png'),url('/src/static/img/mainbutton_pressed-xl.png');
        }
        background-repeat: no-repeat;
        background-position: 50% 100%;
        background-size: 100% auto, 0% 0%, 0% 0%;
        clip-path: polygon(0% 25%,15% 8%,25% 4%,50% 0%,75% 4%,85% 8%, 100% 25%,100% 76%,85% 92%,15% 92%, 0% 76%);
        will-change: background-size, background-image;
        &:hover{          
          background-size: 0% 0%, 100% auto, 0% 0%;
          +.popup-text-wrapper{
            opacity: 1;
            transition: opacity 1s ease-in-out;
          }
        }
        &.hover{
          +.popup-text-wrapper{
            opacity: 1;
            transition: opacity 1s ease-in-out;
          }
        }
        &:focus,&:active,&.active{          
          background-size: 0% 0%, 0% 0%, 100% auto;
          +.popup-text-wrapper{
            opacity: 0;
            transition: opacity 0s ease-in-out;
          }
        }        
      }
      .popup-text-wrapper{
        opacity: 0;
        position: absolute;
        top: -32%;
        left: 43%;
        transform: translate(-50%, -50%);
        width: 63%;
        pointer-events: none;
        transition: opacity 1s ease-in-out;
        .popup-text-asp-box{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          padding-bottom: 50%;
        }
        .popup-text{  
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background-color: transparent;
          background-image: url('/src/static/img/launch_text.png');
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: 100% auto;          
          will-change: background-image;
        }
      }

    } 
    .g3{
      display: none;
      @include breakpoint(sm){
        flex: 1 1 auto;
        position: relative;
        width: 32%;
        display: flex;
        flex-direction: column;
        justify-content: center;    
      }  
      .g3-row{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        &:nth-child(2n+1){
          transform: translate(-16%, -20%);
        }
        &:nth-child(2n){
          transform: translate(0, -30%);
        }
      }
      .btn-wrapper{
        width: 25%;
        margin-right: -5%;
      }
      .btn-asp-box{
        position: relative;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 100%;
      }
      .g3-btn{        
        position: absolute;
        top: 0;
        left: 0;        
        width: 100%;
        height: 100%;
        background-color: transparent;                
        background-repeat: no-repeat;
        background-position: 0% 100%;
        background-size: 100% auto, 0% 0%;        
        will-change: background-image, background-size; 
        pointer-events: none;       
        &.t1{
          background-image: url('/src/static/img/switch_red_02.png'),url('/src/static/img/switch_red_01.png');
          &:active,&.active{
            background-size: 0% 0%, 100% auto;    
          }
        }
        &.t2{
          background-image: url('/src/static/img/switch_orange_02.png'),url('/src/static/img/switch_orange_01.png');
          &:active,&.active{
            background-size: 0% 0%, 100% auto;
          }
        }  
        &.t3{
          background-image: url('/src/static/img/switch_yellow_02.png'),url('/src/static/img/switch_yellow_01.png');
          &:active,&.active{
            background-size: 0% 0%, 100% auto;    
          }
        }
        &.t4{
          background-image: url('/src/static/img/switch_green_02.png'),url('/src/static/img/switch_green_01.png');
          &:active,&.active{
            background-size: 0% 0%, 100% auto;  
          }
        }         
        &.t5{
          background-image: url('/src/static/img/switch_blue_02.png'),url('/src/static/img/switch_blue_01.png');
          &:active,&.active{
            background-size: 0% 0%, 100% auto;      
          }
        }
        &.t6{
          background-image: url('/src/static/img/switch_darkBlue_02.png'),url('/src/static/img/switch_darkBlue_01.png');
          &:active,&.active{
            background-size: 0% 0%, 100% auto;  
          }
        }  
        &.t7{
          background-image: url('/src/static/img/switch_purple_02.png'),url('/src/static/img/switch_purple_01.png');
          &:active,&.active{
            background-size: 0% 0%, 100% auto;    
          }
        }
        &.t8{
          background-image: url('/src/static/img/switch_pink_02.png'),url('/src/static/img/switch_pink_01.png');
          &:active,&.active{
            background-size: 0% 0%, 100% auto;  
          }
        } 
        .g3-btn-clip{
          @include outline(0);
          pointer-events: auto;
          cursor: pointer;
          border: none;
          padding: 0;
          position: absolute;
          top: 0;
          left: 0;        
          width: 100%;
          height: 100%;
          background-color: transparent;
          clip-path: polygon(18% 9%, 58% 9%, 68% 39%, 84% 58%, 84% 82%, 41% 82%, 18% 38%);
        }       
      }
    }   
  }
  .cdb-bottom{
    flex: 0 0 auto;
    position: relative;
    height: 41vw;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 1440px){      
      height: 446px;
    }
    .img-box-bg{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; 
      background-color: transparent;          
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;  
      @include breakpoint(lg-down){ 
        background-image: url('/src/static/img/background_bottomsection_medium-sm.png'); 
      }
      @include breakpoint(xl){
        background-image: url('/src/static/img/background_bottomsection_medium-xl.png');
      }  
      @media screen and (min-width: 1440px){
        background-image: url('/src/static/img/background_bottomsection_large-xl.png');  
        background-size: 100% 100%;
      }
    }    
  }  
}