.top-section{
  .top-section-container{

  }
  .game-top{        
    position: relative;
    height: 44vw;
    @media screen and (min-width: 1440px){
      // height: 25vw;
      height: 633px;
    }
    // @include breakpoint(xxl){
    //   height: 480px;
    // } 
    .img-box-bg{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;          
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;   
      background-image: url('/src/static/img/background_TopSection_medium.png');
      @media screen and (min-width: 1440px){
        background-image: url('/src/static/img/background_TopSection_medium.png');
        background-size: 100% 100%;
      }
      // @include breakpoint(xxl){
      //   background-size: 100% 100%;
      // }
    }  
    .game-bg-top{     
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 0%;
    }
    .int-board-1{
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%,0);
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      max-width: $game-content;
      margin: 0 auto;
    }
    .tg1,.tg2,.tg3{
      flex: 1 1 auto;
      width: 33%;
    }
    .tg1{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      .lblock-item{
        flex: 1 1 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }        
    }
    .tg1-1{
      height: 20%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      // @media screen and (min-width: 1440px){
      //   height: 25%;
      // }
      .anime-wrapper{
        flex: 0 1 auto;
        width: 62%;
        .anime-asp-box{
          position: relative;
          width: 100%;
          padding-bottom: 26%;
        }
        .tg1-1-anime{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: 50% 50%;
        }
      } 
      .sign-wrapper{
        flex: 0 1 auto;
        width: 18%;
        // @media screen and (min-width: 1440px){
        //   width: 14%;
        // }        
        .sign-asp-box{
          position: relative;
          width: 100%;
          padding-bottom: 100%;
        }
        .sign-anime{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: contain;
          background-image: url('/src/static/img/warningSign_off.png');
          &.active{
            background-image: url('/src/static/img/warningSign_on.png');            
          }
        }
      }
    }    
    .tg1-2{
      height: 18%;
      padding: 0 6%;
      // @media screen and (min-width: 1440px){
      //   height: 20%;
      // }
      .btn-wrapper{
        width: 20%;
        // @media screen and (min-width: 1440px){
        //   width: 15%;
        // }        
      }
      .btn-asp-box{
        position: relative;
        width: 80%;
        margin: 0 auto;
        padding-bottom: 122%;
      }
      .tg1-btn{
        @include outline(0);
        cursor: pointer;
        border: none;
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;        
        width: 100%;
        height: 100%;
        background-color: transparent;
        // background: url('/src/static/img/mainButton_Default.png') no-repeat 50% 100% / 100% auto;        
        background-repeat: no-repeat;
        background-position: 50% 100%;
        background-size: 100% auto, 0% 0%;
        will-change: background-image, background-size;        
        background-image: url('/src/static/img/switch_toggle_02.png'),url('/src/static/img/switch_toggle_01.png');
        &:active,&.active{          
          background-size: 0% 0%, 100% auto;
          transform: translateY(-18%);
        }            
      }
    } 
    .tg1-3{
      height: 62%;
      // @media screen and (min-width: 1440px){
      //   height: 55%;
      // }
      .anime-wrapper{
        width: 90%;
        // @media screen and (min-width: 1440px){
        //   width: 50%;
        // } 
      }
      .anime-asp-box{
        position: relative;
        width: 80%;
        margin: 0 auto;
        padding-bottom: 100%;
      }
      .tg1-3-anime{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: 50% 50%;
      }
    }   
    .tg2{
      // screen_dickbutt_animation_v02.gif
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      position: relative;
      .anime-wrapper{
        width: 93%;
        // @media screen and (min-width: 1440px){
        //   width: 55%;
        // }
        // width: 56%;
        margin-bottom: 0.2vw;
        .anime-asp-box{
          position: relative;
          width: 100%;
          padding-bottom: 100%;
        }
        .tg2-anime{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: 50% 50%;
        }
      }     

      .anime-wrapper2{
        width: 62%;
        .anime-asp-box{
          position: relative;
          width: 100%;
          padding-bottom: 26%;
        }
        .tg2-anime{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: 50% 50%;
        }
      }      
    }
    .tg3{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      .rblock-item{
        flex: 1 1 auto;
        display: flex;
        padding: 0 3%;
      }        
    }
    .tg3-1{
      justify-content: flex-end;
      align-items: flex-end;
      height: 16%;
      // @media screen and (min-width: 1440px){
      //   height: 21%;
      // }
      .btn-wrapper{
        width: 48%;
        // @media screen and (min-width: 1440px){
        //   width: 40%;
        // }
      }
      .btn-asp-box{
        position: relative;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 43%;
      }
      .tg3-1-btn{
        @include outline(0);
        cursor: pointer;
        border: none;
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;        
        background-color: transparent;
        // background: url('/src/static/img/mainButton_Default.png') no-repeat 50% 100% / 100% auto;
        background-image: url('/src/static/img/button_connect.png'), url('/src/static/img/button_connect_hover.png'), url('/src/static/img/button_connect_pressed.png');
        background-repeat: no-repeat;
        background-position: 50% 100%;
        background-size: 100% auto, 0% 0%, 0% 0%;
        will-change: background-image, background-size;
        &:hover{
          background-size: 0% 0%, 100% auto, 0% 0%;
        }
        &:active,&.active{
          background-size: 0% 0%, 0% 0%, 100% auto;
        }
      }
    }
    .tg3-2{
      height: 65%;
      justify-content: center;
      display: flex;
      justify-content: center;
      align-items: stretch;
      // @media screen and (min-width: 1440px){
      //   height: 62%;
      // }
      .tg3-2-1{
        flex: 1 1 auto;
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        .sign-wrapper{
          flex: 0 1 auto;
          width: 88%;
          // @media screen and (min-width: 1440px){
          //   width: 55%;
          // }
          .sign-asp-box{
            position: relative;
            width: 100%;
            padding-bottom: 100%;
          }
          .sign-anime{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: contain;
            &.sign-1{
              background-image: url('/src/static/img/redLight_off.png');
              &.active{
                background-image: url('/src/static/img/redLight_on.png');            
              }
            }
            &.sign-2{
              background-image: url('/src/static/img/greenLight_off.png');
              &.active{
                background-image: url('/src/static/img/greenLight_on.png');            
              }
            }
            &.sign-3{
              background-image: url('/src/static/img/yellowLight_off.png');
              &.active{
                background-image: url('/src/static/img/yellowLight_on.png');            
              }
            }            
          }
        }
      }
      .tg3-2-2{
        flex: 1 1 auto;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .sign-wrapper{
          flex: 0 1 auto;
          width: 95%;
          // @media screen and (min-width: 1440px){
          //   width: 77%;
          // }
        }
        .sign-asp-box{
          position: relative;
          width: 100%;
          padding-bottom: 22%;
        }
        .sign-text{
          display: inline-flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: contain;          
          &.sign-1{
            background-image: url('/src/static/img/banner_text.png');            
          }
          &.sign-2{
            background-image: url('/src/static/img/banner_text.png');     
            transform: rotate(7deg);       
          }
          &.sign-3{
            background-image: url('/src/static/img/banner_text.png');            
          }          
          font-size: 1.4vw;
          @media screen and (min-width: 1440px){
            // font-size: 1.2vw;
            font-size: 20px;
          }
          // @include breakpoint(xxl){
          //   font-size: 23px;
          // }  
          font-weight: 700;
          color: #eee;
        }        
      } 
      .tg3-2-3{
        flex: 1 1 auto;
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .btn-wrapper{
          width: 88%;
          // @media screen and (min-width: 1440px){
          //   width: 72%;
          // }
          &:not(:last-child){
            margin-bottom: 12%;
          }
        }
        .btn-asp-box{
          position: relative;
          width: 100%;
          margin: 0 auto;
          padding-bottom: 100%;
        }
        .tg3-2-3-btn{
          @include outline(0);
          cursor: pointer;
          border: none;
          padding: 0;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;        
          background-color: transparent;          
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: contain, 0% 0%, 0% 0%;
          will-change: background-image, background-size;
          &.btn-egg{
            background-image: url('/src/static/img/button_egg.png'), url('/src/static/img/button_egg_hover.png'), url('/src/static/img/button_egg_pressed.png');
            &:hover{              
              background-size: 0% 0%, contain, 0% 0%;              
            }
            &:active,&.active{              
              background-size: 0% 0%, 0% 0%, contain; 
            }
          } 
          &.btn-skull{
            background-image: url('/src/static/img/button_skull.png'), url('/src/static/img/button_skull_hover.png'), url('/src/static/img/button_skull_pressed.png');            
            &:hover{              
              background-size: 0% 0%, contain, 0% 0%;              
            }
            &:active,&.active{              
              background-size: 0% 0%, 0% 0%, contain; 
            }
          }          
        }
      }
    }
    .tg3-3{
      height: 19%;
      justify-content: flex-start;
      align-items: center;
      // @media screen and (min-width: 1440px){
      //   height: 17%;
      // }
      .disc-wrapper{
        width: 93%;
        // @media screen and (min-width: 1440px){
        //   width: 77%;
        // }
      }
      .disc-asp-box{
        position: relative;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 14%;
      }
      .tg1-3-disc{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: 50% 50%;
      }
    }
  }
  .game-medium{  
    position: relative;
    height: 24vw;
    @media screen and (min-width: 1440px){
      // height: 19vw;
      height: 346px;
    }
    // @include breakpoint(xxl){
    //   height: 365px;
    // }  
    .img-box-bg{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; 
      background-color: transparent;          
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;   
      background-image: url('/src/static/img/background_MidSection_medium.png'); 
      @media screen and (min-width: 1440px){
        background-image: url('/src/static/img/background_MidSection_large.png'); 
        background-size: 100% 100%;
      } 
      // @include breakpoint(xxl){
      //   background-size: 100% 100%;
      // }   
    }
    .game-bg-medium{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 0%;
    }
    .int-board-4{
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%,0);
      width: 100%;
      height: 85%;      
      display: flex;
      align-items: stretch;
      max-width: $game-content;
      margin: 0 auto;
      // @media screen and (min-width: 1440px){
      //   height: 73%;
      // } 
    } 
    .g1{
      flex: 1 1 auto;
      position: relative;
      width: 34%;  
      .img-box{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 71%;         
      }
      .img-asp-box{
        position: absolute;
        top: 50%;
        right: -20%;
        transform: translate(0, -50%);
        width: 207%;
        margin: 0 auto;
        padding-bottom: 50%;
        // @media screen and (min-width: 1440px){
        //   left: 20%;
        //   width: 70%;
        //   padding-bottom: 26%;
        // }
      }
      .g1-img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;   
        object-fit: cover;
        object-position: 100% 50%;
      }
    } 
    .g2{
      flex: 1 1 auto;
      position: relative;
      width: 35%;
      display: flex;
      justify-content: center;
      align-items: center;
      .bg-g2-btn-wrapper{
        position: absolute;
        width: 100%;
        height: 100%;
        .btn-asp-box{
          position: relative;
          width: 100%;
          margin: 0 auto;
          padding-bottom: 52%;
        }
      } 
      .bg-g2-btn{
        position: absolute;
        top: 0;
        left: 0;
        // transform: translate(0,0%);
        width: 100%;
        height: 100%;        
        background-color: transparent;
        // background: url('/src/static/img/mainButton_Default.png') no-repeat 50% 100% / 100% auto;
        background-image: url('/src/static/img/button_base.png');
        background-repeat: no-repeat;
        background-position: 50% 100%;
        background-size: 100% auto;
      }
      .btn-wrapper{
        width: 56%;
        .btn-asp-box{
          position: relative;
          width: 100%;
          margin: 0 auto;
          padding-bottom: 80%;
        }
      }      
      .g2-btn{
        @include outline(0);
        cursor: pointer;
        border: none;
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-4%,-15%);
        width: 100%;
        height: 100%;        
        background-color: transparent;
        // background: url('/src/static/img/mainButton_Default.png') no-repeat 50% 100% / 100% auto;
        background-image: url('/src/static/img/mainButton_Default.png'),url('/src/static/img/mainButton_hover.png'),url('/src/static/img/mainButton_pressed.png');
        background-repeat: no-repeat;
        background-position: 50% 100%;
        background-size: 100% auto, 0% 0%, 0% 0%;
        clip-path: polygon(0% 25%,15% 8%,25% 4%,50% 0%,75% 4%,85% 8%, 100% 25%,100% 76%,85% 92%,15% 92%, 0% 76%);
        will-change: background-size, background-image;
        &:hover{          
          background-size: 0% 0%, 100% auto, 0% 0%;
          +.popup-text-wrapper{
            opacity: 1;
            transition: opacity 0.2s ease-in-out;
          }
        }
        &:active,&.active{          
          background-size: 0% 0%, 0% 0%, 100% auto;
          +.popup-text-wrapper{
            opacity: 0;
            transition: opacity 0s ease-in-out;
          }
        }        
      }
      .popup-text-wrapper{
        opacity: 0;
        position: absolute;
        top: -42%;
        left: 0%;
        width: 88%;
        pointer-events: none;
        transition: opacity 0.4s ease-in-out;
        .popup-text-asp-box{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          padding-bottom: 50%;
        }
        .popup-text{  
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background-color: transparent;
          background-image: url('/src/static/img/launch_text.png');
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: 100% auto;          
          will-change: background-image;
        }
      }

    } 
    .g3{
      flex: 1 1 auto;
      position: relative;
      width: 31%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 1% 0 3%;
      .btn-wrapper{
        width: 12%;
      }
      .btn-asp-box{
        position: relative;
        width: 80%;
        margin: 0 auto;
        padding-bottom: 102%;
      }
      .g3-btn{
        @include outline(0);
        cursor: pointer;
        border: none;
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;        
        width: 100%;
        height: 100%;
        background-color: transparent;
        // background: url('/src/static/img/mainButton_Default.png') no-repeat 50% 100% / 100% auto;        
        background-repeat: no-repeat;
        background-position: 50% 100%;
        background-size: 100% auto, 0% 0%;
        will-change: background-image, background-size;        
        &.t1{
          background-image: url('/src/static/img/rockerSwitch_green_02.png'),url('/src/static/img/rockerSwitch_green_01.png');
          &:active,&.active{
            background-size: 0% 0%, 100% auto;    
          }
        }
        &.t2{
          background-image: url('/src/static/img/rockerSwitch_blue_02.png'),url('/src/static/img/rockerSwitch_blue_01.png');
          &:active,&.active{
            background-size: 0% 0%, 100% auto; 
          }
        }        
      }
    }   
  }
  .game-bottom{
    position: relative;
    height: 41vw;
    @media screen and (min-width: 1440px){
      // height: 31vw;
      height: 446px;
    }
    // @include breakpoint(xxl){
    //   height: 595px;
    // }  
    .img-box-bg{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; 
      background-color: transparent;          
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;   
      background-image: url('/src/static/img/background_bottomSection_medium.png');   
      @media screen and (min-width: 1440px){
        background-image: url('/src/static/img/background_bottomSection_large.png');  
        background-size: 100% 100%;
      }  
      // @include breakpoint(xxl){
      //   background-size: 100% 100%;
      // }
    }
  }
}